<!doctype html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Комната {{ room_code }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="static/image/png" href="https://i.yapx.ru/XXVTT.png">
</head>
<body>
{% extends "base.html" %}

{% block content %}

<div style="display: flex; justify-content: center; padding: 0 20px; margin-top: 20px;">
    <div class="left"
         style="flex: 2; padding: 20px; text-align: center; margin-right: 10px; background-color: #292e33; border-radius: 10px;">
        {% if current_user.id == room.leader_id %}
        <form id="videoForm" style="display: flex; justify-content: left; padding: 10px 20px; margin-top: 20px;">
            <input type="url" class="form-control" placeholder="Вставьте ссылку на видео" id="link" name="link" style="margin-right: 10px;">
            <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"></path>
                        </svg></button>
        </form>
        {% endif %}
        <div style="position: relative;">
  <iframe id="ytplayer" width="1200" height="675" style="margin-top: 20px;" src="{{ video_link | default('', true) }}" frameborder="0" allowfullscreen></iframe>
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.0); pointer-events: none;"></div>
</div>

<style>
  #ytplayer {
    pointer-events: none;
  }
</style>




<input type="button" value="Выйти из комнаты" class="leave_btn" onclick="redirectToHomePage()">
                <style>
          .leave_btn {
            margin-right: 10px;
            margin-top: 20px;
          }
        </style>
    </div>
</div>

<script>
function redirectToHomePage() {
    window.location.href = "/";
}

document.getElementById('videoForm') && document.getElementById('videoForm').addEventListener('submit', function(e) {
    e.preventDefault();
    const videoUrl = document.getElementById('link').value;
    fetch('/update_video', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({url: videoUrl, room_id: "{{ room_code }}"})
    })
    .then(response => response.json())
    .then(data => {
        if (data.video_id) {
            document.getElementById('ytplayer').src = `https://www.youtube.com/embed/${data.video_id}?autoplay=1&controls=0&disablekb=1&modestbranding=1&rel=0&showinfo=0`;
        } else {
            alert('Ошибка: Неверная ссылка на видео');
        }
    })
    .catch(error => console.error('Error:', error));
});

setInterval(function() {
    fetch('/current_video?room_id={{ room_code }}')
    .then(response => response.json())
    .then(data => {
        if (data.video_link && document.getElementById('ytplayer').src !== data.video_link) {
            document.getElementById('ytplayer').src = data.video_link;
        }
    });
}, 1000);
</script>

{% endblock %}

</body>
</html>
